include basic_button/basic_button
include slider-modification/slider-modification
include slider/slider


.content-block
    main(class='main-block')
        aside(class='control-block')
            .basic-buttons_content
                header
                    .type-block
                        +basic_button('medium', 'horizontal slider', 'orange')
                +slider_modification()
                footer
                    +basic_button('medium', 'подтвердить', 'orange')
        section(class='sliders_content')
            .slider-wrapper
                +slider(1, 0, 100, 5, 10)
            .slider-wrapper
                +slider(2, 0, 100, 5, 10)
            .slider-wrapper
                +slider(3, 0, 100, 5, 10)
            .slider-wrapper
                +slider(4, 0, 100, 5, 10)