include basic_button/basic_button
include slider-modification/slider-modification


.content-block
    main(class='main-block')
        aside(class='control-block')
            .basic-buttons_content
                header
                    .type-block
                        +basic_button('medium', 'horizontal slider', 'orange')
                        +basic_button('medium', 'vertical slider', 'orange')
                +slider_modification()
                footer
                    +basic_button('medium', 'подтвердить', 'orange')
        section(class='sliders-block')