mixin slider(id, min, max, step, start_position)

    input(type='checkbox' id=id)
    div(class='slider_content')
        div(data-min=min data-max=max data-step=step data-start_position=start_position class="slider")
            .slider-label