.slider-wrapper{
  position: relative;
  margin-bottom: 50px;
  input{
    position: absolute;
    left: -13px;
    margin: 0;
  }
  .settings-sliders{
    margin-top: 2.2222rem !important;
    margin-bottom: 1.6667rem !important;
    border-radius: 0.1667rem;
    height: 0.2778rem;
    width: 14.4444rem;
    background-color: #e5e5e5;
    border: 0 !important;
  }

  .slider_content{
    .ui-slider-horizontal{
      @extend .settings-sliders;
      &:last-child{
        margin: 0;
      }
      .ui-slider-handle{
        outline: none;
        border-radius: 50%;
        top: -0.4444rem;
      }
      .ui-slider-label-default{
        font-size: 0.6111rem;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
      }
      ul{
        font-size: 0.6111rem;
        color: #d1d1d1;
        font-family: 'Lato', sans-serif;
        display: flex;
        list-style-type: none;
        padding: 0;
        position: absolute;
        left: -0.5rem;
        width: 15.5556rem;
        top: 0.2778rem;
        li{
          width: 1.1111rem;
          text-align: center;
          margin-right: 2.5rem;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}