.slider-modification{
  margin: 0 10px 0 10px;
  border-radius: 5px;
  background: #bf3e1f94;
  width: 100%;
  transition: 0.5s;
  .header{
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 2rem;
    border-radius: 0.2rem;
    border: 0.03rem solid #bf3e1f94;
    background: #e75735;
    line-height: 2rem;
    &:first-child{
      border-bottom: 0.03rem solid #bf3e1f94;
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &#open{
      .content{
        display: block;
      }
    }
    &#close{
      .content{
        display: none;
      }
    }
    .content{
      width: 100%;
      display: none;
      .colorwell{
        cursor: pointer;
        width: 3.8rem;
        height: 1rem;
        border: 0;
        border-bottom: solid 0.1rem #bd4326;
        outline: none;
        text-align: center;
      }
      .colors{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:last-child{
          margin-bottom: 0;
        }
      }
      p{
        margin: 0;
        width: 100%;
        text-align: center;
      }
      .options{
        margin: 0.3rem;
        display: flex;
        flex-direction: column;
      }
    }
    .colorpicker{
      display: flex;
      justify-content: center;
      background: #bd4326;
    }
    #slider-orientation{
      .options{
        position: relative;
        flex-direction: row-reverse;
        input{
          position: absolute;
          height: 1.1rem;
          width: 1.1rem;
          margin: 0;
        }
      }
    }
  }
}